# Loop lists

## loop through a list

you can loop through for loop

In [3]:
# loop a list using for loop

thislist =["apple","mango","orange","kiwi"]
for x in thislist:
    print(x)

apple
mango
orange
kiwi


# Loop Through the Index NumbersÂ¶
You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [4]:
# this can loop the whole list when you didnot give index in print the list name
thislist = ["elang","rohit","sheyam","harish"]
for i in range(len(thislist)):
    print(thislist)
    
    
    
# access the index 
for i in range(len(thislist)):
    print(thislist[i])

['elang', 'rohit', 'sheyam', 'harish']
['elang', 'rohit', 'sheyam', 'harish']
['elang', 'rohit', 'sheyam', 'harish']
['elang', 'rohit', 'sheyam', 'harish']
elang
rohit
sheyam
harish

# while loop

## You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [5]:
# while loop
thislist = ["apple", "banana", "cherry"]
i = 0 #we want to give  i then only while knows the i 
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [14]:

#short hand for loop that will print all items in list

thislist = ["elang","rohit","sheyam","harish"]
[print(x) for x in thislist]

elang
rohit
sheyam
harish

[None, None, None, None]

# Looping using list comprehension

#list comprehension offers the shortest syntax for looping through lists

# List comprehension 

list comprehension 

list comprehension offers a shorter syntax when you want to create a new list based on the value of an existing list.

if you create a list named fruit and you want new list it containg only fruit name which a in the name

without list comprehension you will have to write a for statement with a conditional test inside

In [12]:
fruits = ["apple","mango","orange","kiwi"]
newlist = []

for x in fruits:
    if "a" in x :
        newlist.append(x)
        
        
print(newlist)

for y in fruits:
    if "e" in y:
       newlist.append(x)
    
print(x)

['apple', 'mango', 'orange']
kiwi

In [13]:
#one line of code using list compreshension you can do all that with only one line of code

names = ["elango","harish","sheyam","rohit","mani"]

newlist = [x for x in names if "a" in x]

print(newlist)

oldlist = [ y for y in names if "e" in y]
print(oldlist)

['elango', 'harish', 'sheyam', 'mani']
['elango', 'sheyam']

# the syntax

newlist = [expression for item in iterable if condition == true]

this return value is a new list leaving the old list unchanged

In [26]:
fruit = ["apple","mango","orange","pineapple","kiwi","watermelon","jackfruit"]

# in the fruit to print without apple
newlist = [x for x in fruit if x != "apple"]
print(newlist)# this newlist will print without apple
# the condition if x != "apple" will return true for all element other than "apple",


#with no if statement

anotherlist = [ y for y in fruit]
print(anotherlist)


# you can use the range() function to create an iterable:
newlist = [x for x in range(10)]# this will print 0 to 9 numbers
print(newlist)

#accept the number in lower and higher
newlist = [x for x in range(10) if x >= 5]# this print 5 and greater than 5
oldlist = [x for x in range(10) if x < 5]# this will print lesser than 5
print(newlist)
print(oldlist)

# change the list in upper and lower case
newlist = [x.upper() for x in fruit]# this will print upper case  
oldlist = [x.lower() for x in fruit]# this will print lower case
print(newlist)
print(oldlist)


#return the one element instead of another element
newlist = [x if x != "apple" else "carrot" for x in fruit ]
print(newlist)

['mango', 'orange', 'pineapple', 'kiwi', 'watermelon', 'jackfruit']
['apple', 'mango', 'orange', 'pineapple', 'kiwi', 'watermelon', 'jackfruit']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
['APPLE', 'MANGO', 'ORANGE', 'PINEAPPLE', 'KIWI', 'WATERMELON', 'JACKFRUIT']
['apple', 'mango', 'orange', 'pineapple', 'kiwi', 'watermelon', 'jackfruit']
['carrot', 'mango', 'orange', 'pineapple', 'kiwi', 'watermelon', 'jackfruit']

# sort lists

### sort list alphanumerically

list objects have a sort() method that will sort the list alphanumerically,asceding,by defalut:

In [28]:
#sort the list alphabetically:
thislist = ["mani","elango","raghul","harish","sheyam","rohit"]
thislist.sort()
print(thislist)

#sort the list numerically
thislist = [100,44,56,78,99,2,30]
thislist.sort()
print(thislist)

['elango', 'harish', 'mani', 'raghul', 'rohit', 'sheyam']
[2, 30, 44, 56, 78, 99, 100]

# sort descending 

to sort descending, use the keyword argument reverse = True:

In [32]:
#sort list descending
thislist = ["mani","elango","raghul","harish","sheyam","rohit"]
thislist.sort(reverse = True )
print(thislist)

#sort list numerical descending
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

['sheyam', 'rohit', 'raghul', 'mani', 'harish', 'elango']
[100, 82, 65, 50, 23]

# customize sort function

you can also customize your own function by using the keyword argument key = function.

the function will return a number that will be used to sor the list (the lowest number first)

In [36]:
# sort the list based on how close the number is to 50.

def myfun(n):
    return abs(n - 50)

thislist = [100,50,65,82,23]
thislist.sort(key = myfun)
print(thislist)

#thislist is a list that is sorted by myfunc() function .

#100 => abs(100-50) = 50
#50 => abs(50-50) =  0
#65 => abs(65-50) =  15
#82 => abs(82-50) = 32
#23 => abs(23-50) =  27

#After sort 50,65,23,82,100

[50, 65, 23, 82, 100]

# case in senstive sort

by default the sort() method is case sensitive resulting in all capital letters being sorted before lower case letters:

In [38]:
# case sensitive sorting can give unexpected result

thislist =["elango","Harish","Ajith","rohit","Mani"]
thislist.sort()
print(thislist)# this will print unexpected result first upper case names are sort then lower case will be sort


#if you want case insensitive sort function use str.lower as key function
thislist.sort(key = str.lower)
print(thislist)

['Ajith', 'Harish', 'Mani', 'elango', 'rohit']
['Ajith', 'elango', 'Harish', 'Mani', 'rohit']

# copy list

### copy a list

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [40]:
# make a copy of a list using copy() method.
thislist =["elango","Harish","Ajith","rohit","Mani"]
newlist=thislist.copy()
print(newlist)

#Another way to make a copy is to use the built in method list().
thislist =["elango","Harish","Ajith","rohit","Mani"]
newlist=list(thislist)
print(newlist)

['elango', 'Harish', 'Ajith', 'rohit', 'Mani']
['elango', 'Harish', 'Ajith', 'rohit', 'Mani']

# join lists

### join two lists 

there are several ways to join, or concatenate, two or more lists in python

one of the easiest way are by using the + operator.

In [48]:
# join two list
list1 = ["elango","Harish","Ajith","rohit","Mani"]
list2 = ["sathya","raguvaharan","abi"]

list3 = list1 + list2
print(list3)

#another way of join two lists
#append list2 into list1

for x in list2:
    list1.append(x)
    
print(list1)

#you can use extend method also to join lists

list1.extend(list2)
print(list1)

['elango', 'Harish', 'Ajith', 'rohit', 'Mani', 'sathya', 'raguvaharan', 'abi']
['elango', 'Harish', 'Ajith', 'rohit', 'Mani', 'sathya', 'raguvaharan', 'abi']
['elango', 'Harish', 'Ajith', 'rohit', 'Mani', 'sathya', 'raguvaharan', 'abi', 'sathya', 'raguvaharan', 'abi']

# tuples in python

### tuple

tuples are used to store multiple items in a single variable.

tuple is one of 4 built-in data in python used to store collection of data, the other 3 are list,set,dictionary

a tuple is a collection which is ordered and unchangeable.

tuples are written with round brackets.

In [46]:
thistuple = ("five","four","six")
print(thistuple)

('five', 'four', 'six')

# tuple item

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

# Ordered

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.


# unchangeable

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created

# allow duplicates

Since tuples are indexed, they can have items with the same value

# Update tuple

tuples are unchangeable,meaning that you cannot change,add or remove items once the tuple is created.

but there are some workaround


# change tuple value 

once tuple can create,you cannot change its value . tuples are unchangeable,or immutable as it also is called.


but there is a workaround. you can convert the tuple into a list,change the list,, and convert the list back into a tuple

In [54]:
x= ("five","four","six")

y = list(x)
y[2] = "three"
x = tuple(y)
print(x)

#using append

y.append("eight")
x = tuple(y)
print(x)

#add tuple to a tuple
y = ("orange",)
x += y
print(x)

('five', 'four', 'three')
('five', 'four', 'three', 'eight')
('five', 'four', 'three', 'eight', 'orange')

# remove items

tuples are unchangeable so you cannot remove items from,it but you can use the same workaroung as we used for changing and adding tuple items:

In [58]:
# removing tuple
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

#del keyword can delete tuple completely
thistuple = ("apple", "banana", "cherry")
del thistuple
#print(thistuple) #this will raise an error because the tuple no longer exists

('banana', 'cherry')

# unpack tuples

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [1]:
#packing tuples

fruits = ("apple","banana","cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [2]:
#unpacking a tuple

fruits = ("mango","orange","pappaya","kiwi")
(x,y,z,w) = fruits
print(w)
print(x)
print(y)
print(z)

kiwi
mango
orange
pappaya

# using Asteriks

If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [4]:
#assing the rest of the values as  a list called z using *
fruits = ("mango","orange","pappaya","kiwi")
(x,y,*z) = fruits


print(x)
print(y)
print(z)

#assing a values to y

(x,*y,z) = fruits


print(x)
print(y)
print(z)

mango
orange
['pappaya', 'kiwi']
mango
['orange', 'pappaya']
kiwi

# loop tuples

## Loop Through a Tuple
You can loop through the tuple items by using a for loop.

In [5]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

#loop through the index numbers
#use range() and len()  function to create a suitabl iterable.

for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry
apple
banana
cherry

# using while loop

You can loop through the tuple items by using a while loop.

Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [6]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

# join tuples

## join two tuples

to join two or more tuples you can use the + operator

In [9]:
#join two tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)


tuple3 = tuple1 + tuple2
print(tuple3)

#multiply tuples
#if you want to multiply the content of a tuple a given number of times you can use the * operator:

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('a', 'b', 'c', 1, 2, 3)
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# sets

sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

*set items are unchangeable, but you can remove items and add new items.

### sets are written with curly brackets.

In [11]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

# Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

# Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

# Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

# Duplicates Not Allowed
Sets cannot have two items with the same value.

In [15]:
#duplicate value will be ignored

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)


# The values True and 1 are considered the same value in sets, and are treated as duplicates:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

#The values False and 0 are considered the same value in sets, and are treated as duplicates:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

#get the length of the set
print(len(thisset))

{'cherry', 'apple', 'banana'}
{True, 2, 'apple', 'banana', 'cherry'}
{False, True, 'apple', 'banana', 'cherry'}
5

# Access set items

## Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword

In [16]:
#loop through the set and print the values
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

#to check banana is present
print("banana" in thisset)

cherry
apple
banana
True

# Add items

once you created a set ,you cannot change its items, but you can add new items.

to add one item to set use the add() method

In [17]:
# add an item to a set using the add() method.
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'apple', 'orange', 'banana'}

# Add sets 
to add items from another set into the current set, use the update() method

In [18]:
#add elements from tropical into thisset
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'banana', 'pineapple', 'cherry', 'mango', 'papaya'}

# Add Any Iterable
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [19]:
#add set to tuple
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
tuple1 = ("elango",)

thisset.update(mylist)

print(thisset)

thisset.update(tuple1)
print(thisset)

{'apple', 'orange', 'banana', 'cherry', 'kiwi'}
{'apple', 'orange', 'elango', 'banana', 'cherry', 'kiwi'}

# remove set items

## remove item

to remove an item in a set, use the remove(), or discard() method.

In [21]:
# remove sets

thisset = {"apple", "banana", "cherry"}

x = thisset.remove("banana")

print(thisset)
print(x)


#discard set

thisset = {"apple", "banana", "cherry"}

x = thisset.discard("banana")

print(thisset)
print(x)

{'cherry', 'apple'}
None
{'cherry', 'apple'}
None

### You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the pop() method is the removed item.

In [22]:
# removing random item by using the pop() method.

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)#Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

cherry
{'apple', 'banana'}

In [23]:
# clear method this method makes the set empty
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

#del keyword will delete the set compelety

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)# this will throw an error

set()

NameError: name 'thisset' is not defined

# loop sets

### loop items 

#### you can loop through the set items by using a for loop

In [24]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)# this also print the value in unordered

cherry
apple
banana

# join sets


## Join Two Sets
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [28]:
# the union() method returns a new set with all items from both sets:

set1 = {1, "b" , "c",5}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)# this will print ordered


#The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 5, 'b', 'c'}
{1, 2, 3, 'a', 'b', 'c'}

# keeps only the duplicates in the sets

The intersection_update() method will keep only the items that are present in both sets.

In [31]:
#keep the items that exist in the both set x, and set y
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection_update(y)
z = x.intersection(y)

print(x)
print(z)

{'apple'}
{'apple'}

# Keep All, But NOT the Duplicates

The symmetric_difference_update() method will keep only the elements that are NOT present in both sets

In [39]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)



print(x)

{'microsoft', 'banana', 'google', 'cherry'}

In [36]:
#symmetric_difference()
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'google', 'cherry', 'banana', 'microsoft'}

# python dictionaries

## Dictionary 

dictionaries are used to store data values in key: value pairs.


A dictionary is a collection which is ordered*, changeable and do not allow duplicates,

Dictionaries are written with curly brackets, and have keys and values

In [38]:
#create and print a dictionary

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# Dictionary Items
Dictionary items are ordered, changeable, and do not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [40]:
# print the values of dictionary using keyword

thisdict = {
    "brand" : "ford",
    "model" : "Mustang",
    "year"  : 1978
    
}
print(thisdict["model"])

Mustang

# duplicates not allowed

dictionaries cannot have two items with the same key:

In [42]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

#dictionary length
print(len(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
3

In [43]:
#dict constructor 
# it is also possible to use the dict() constructor to make dictionary

thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

# Access Dictionary items

## Accessing items 

you can acces the items of a dictionary by referring to its key name, inside square brackets

In [48]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

# there is also a method call get() that will give you the same result

x = thisdict.get("model")
print(x)

# the key() method will return a lis of all keys in the dictionary
x = thisdict.keys()
print(x)

#adding the

Mustang
Mustang
dict_keys(['brand', 'model', 'year'])