# Python loops

## Python has two primitive loop commands:

### while loops
### for loops

# While loops

in the while loop we can executed a set of statement as long as a condition is true.

while loop is usually used whne the number of iterations is unknown.

example:

In [ ]:
#print a number 1 to 5
i = 1
while(i<=5):
    print(i)
    i+=1
    
    
#The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1

# The break Statement
With the break statement we can stop the loop even if the while condition is true:

In [7]:
# break the while condition if the while condition is true 

i = 0
while i >= 0:
    print(i)
    if i == 5:
        break
    i+=1
    
# in this break statement if the while condition is true also we have given break in if condition so the while condition will stop break statement is used to stop the while if it is true the if condition is true

0
1
2
3
4
5

# The continue Statement
With the continue statement we can stop the current iteration, and continue with the next:

the continue statement we be continue if the if statement is true it stop when the while condition is false

In [8]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6


# The else Statement
With the else statement we can run a block of code once when the condition no longer is true:

the else statement is print when the while condition is false.

In [9]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [2]:
#write a loop statement to print the following series 10 ,20,.....200:
i = 10
while (i <= 200):
    print(i, end = " , ")
    i+=10

10 , 20 , 30 , 40 , 50 , 60 , 70 , 80 , 90 , 100 , 110 , 120 , 130 , 140 , 150 , 160 , 170 , 180 , 190 , 200 ,

In [3]:
#write a program to print first 10 natural numbers in reverse order
i = 10
while(i>0):
    print(i, end = " , ")
    i-=1

10 , 9 , 8 , 7 , 6 , 5 , 4 , 3 , 2 , 1 ,

In [7]:
#write a program to find the factorial of a number
i = 5
fact = 1
while(i>0):#first the condition will check
    fact*=i#fact = 1 fact multiply by i = 5 then go through increment i = 4 angain checking condition if true means fact 5*5 will run aging loop the loop will stop when i is lesser then 5
    i-=1
print(fact)

j = 7
fat = 1
while(j>0):
    fat*=j
    j-=1
print(fat)

120
5040

In [5]:
name = input("Type any name or  'exit' to exit from loop :")
while name != "exit":
    print(name)
    name = input("Type any name or 'exit' to exit from loop : ")
print("you exit from loop")

Type any name or  'exit' to exit from loop :elango
elango
Type any name or 'exit' to exit from loopharish
harish
Type any name or 'exit' to exit from loopsheyam
sheyam
Type any name or 'exit' to exit from loopexit
you exit from loop

In [10]:
total = 0
number = int(input("enter 0 is quit from loop: "))
while number!=0:
    total+=number
    number = int(input("enter 0 is quit from loop: "))
print("the total is :" ,total)

enter 0 is quit from loop: 5
enter 0 is quit from loop: 8
enter 0 is quit from loop: 9
enter 0 is quit from loop: 12
enter 0 is quit from loop: -32
enter 0 is quit from loop: -78
enter 0 is quit from loop: 100
enter 0 is quit from loop: 0
the total is : 24

# Nested while loop
 the structure of while loop is 
 
   while____:
   
       while____:
       
       while____:
       
while inside while is called while loop

if the first while condition is true only this will go to nested while then will only nested while will be run if the first while is false then the inside while will not run

In [1]:
i = 0
while i < 5:
    a = 0
    while a < 3:
        print("elango")
        a+=1
    i+=1

elango
elango
elango
elango
elango
elango
elango
elango
elango
elango
elango
elango
elango
elango
elango

In [2]:
i = 0 
while i <= 6:
    print("Elango " , end="")
    j = 0
    while j <= 6:
        print("harish " , end="")
        j+=1
    i+=1
    print()

Elango harish harish harish harish harish harish harish
Elango harish harish harish harish harish harish harish
Elango harish harish harish harish harish harish harish
Elango harish harish harish harish harish harish harish
Elango harish harish harish harish harish harish harish
Elango harish harish harish harish harish harish harish
Elango harish harish harish harish harish harish harish

In [3]:
 num = int(input("enter number row "))
row = 0 

while row<num:
    star = row+1
    while star>0:
        print("*",end="")
        star-=1
    row+=1
    print()

enter number row 15
*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************

# for loops
## Python For Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [4]:
for x in "apple":
    print(x)

a
p
p
l
e

# The break Statement
With the break statement we can stop the loop before it has looped through all the items:

In [37]:
#Exit the loop when x is "banana":
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break
    
#Exit the loop when x is "banana", but this time the break comes before the print:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple
banana
apple

# The continue Statement
With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [39]:
#do not print banana
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

# The range() Function
To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [40]:
#initial range
for x in range(6):
   print(x) #this will print  0 to 6

#giving initial and final range    
for y in range(1,20):
     print(y)#this will print 1 to 19

#increment the range by 2 
for z in range(1,20,2):
    print(z)# this will print increment by 2

0
1
2
3
4
5
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
3
5
7
9
11
13
15
17
19

# Else in For Loop
The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [42]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

#the else block will Not be executed if the loop is stopped by a break statement


for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!
0
1
2

# Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [45]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)
    


for x in "elango":
    for y in "Harish":
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry
e H
e a
e r
e i
e s
e h
l H
l a
l r
l i
l s
l h
a H
a a
a r
a i
a s
a h
n H
n a
n r
n i
n s
n h
g H
g a
g r
g i
g s
g h
o H
o a
o r
o i
o s
o h

# The pass Statement
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [48]:
for x in [0, 1, 2]:
  pass

for x in "elango":

SyntaxError: unexpected EOF while parsing (<ipython-input-48-f228878cbf1b>, line 4)

In [46]:
for i in range(1,11):
    print(i , "x2=" , i * 2)

1 x2= 2
2 x2= 4
3 x2= 6
4 x2= 8
5 x2= 10
6 x2= 12
7 x2= 14
8 x2= 16
9 x2= 18
10 x2= 20

In [15]:
a = int(input("enter a: "))
b = int(input("enter b: "))
for x in range(a + 1,b):
    print(x)

enter a: 8
enter b: 15
9
10
11
12
13
14

In [21]:
# printing even numbers
for x in range(1,11):
    if x % 2 == 0:
        print(x)

2
4
6
8
10

In [29]:
# printing how many even numbers between 1 to 10
count=0
for x in range(1,11):
    if x%2==0:
        count+=1
print(count)

#printing how many odd numbers between 1 to 10
cont=0
for x in range(1,11):
    if x%2!=0:
        cont+=1
print(cont)

5
5

In [31]:
#print how even and odd numbers between 1 to 10
e_count = 0
o_count = 0
for x in range(1,11):
    if x%2==0 :
        e_count+=1
    if x%2!=0 :
        o_count+=1
        
print(e_count)
print(o_count)

5
5

In [35]:
#count the number which are divisible by 3 and 5 range 1 - 100
count = 0
nodiv = 0
for x in range(1,101):
    if (x%3==0 and x%5==0):
        count+=1
    else:
        nodiv+=1
        

print("no. of count is divisible by 3 and 5: ",count)
print("no. of count is not divisible : ",nodiv)

no. of count is divisible by 3 and 5:  6
no. of count is not divisible :  94

In [49]:
#write a program to compute the sum of the first 5 natural numbers
sum = 0
for x in range(1,6):
    sum+=x
print(sum)

15

In [5]:
# write a program to read 10 number from the keyword and find their sum and average.
a=[]

for x in range(10):
    num=int(input("enter num " + str(x)))
    a.append(num)

print(a)

sum = 0
for x in a:
    sum+=x
  
print(sum)

enter num 045
enter num 168
enter num 278
enter num 366
enter num 498
enter num 545
enter num 634
enter num 734
enter num 823
enter num 946
[45, 68, 78, 66, 98, 45, 34, 34, 23, 46]
537

In [1]:
#write a program to display n terms of natural numbers and their sum 
a = int(input("enter the n natural numbers :"))
for x in range(1,a):
    a+=x
print(a)

enter the n natural numbers :8
36

In [2]:
# the first 7 natural number is
for x in range(1,8):
    print(x)

1
2
3
4
5
6
7

In [13]:
#write a porgram to display the cube of the number up to an interger.
a =int(input("enter num " ))

for x in range(1,a):
        print(f"the cude of {x} is ", x*x*x)

enter num 8
the cude of 1 is  1
the cude of 2 is  8
the cude of 3 is  27
the cude of 4 is  64
the cude of 5 is  125
the cude of 6 is  216
the cude of 7 is  343

In [16]:
for x in range(1,3):
    print("week: ", x)
    for y in range(1,4):
        print("day :", y)

week:  1
day : 1
day : 2
day : 3
week:  2
day : 1
day : 2
day : 3

In [22]:
for x in range(1,5):
    print()
    for y in range(1,x+1):
        print(y,   end="")

1
12
123
1234