# Python Day1
this is my first program to print

In [2]:
print("hello world")

hello world

# Python Indentation

Indentation refers to the spaces at the beginning of a code line.
Where in other programming languages the indentation in code is for readability only
the indentation in Python is very important.
Python uses indentation to indicate a block of code

In [4]:
if 6 < 7:
    print("it is true")

it is true

python will give error if you skip the Indentation

In [5]:
if 6 < 7:
print("it is true")#it causes error

IndentationError: expected an indented block (<ipython-input-5-ad774e86c149>, line 2)

the number of space uses programmer  common  in python is  four,but atlest we want to give one space to avoid error in program

In [13]:
if 4 < 5:
    print("it is true")
if 4 < 5:
 print("it is true")

it is true
it is true

you have to use same number of space in same block of code, otherwise it give error in python

In [12]:
if 5 > 3:
    print('it is true')
    print('it is true')

it is true
it is true

In [10]:
if 5 > 3:
    print('it is true')
        print('it is true')

IndentationError: unexpected indent (<ipython-input-10-5224c4ce5225>, line 3)

# variables in python

### variables:
                A reusable container for storing a values
                a variable behave as it were the value it contains

In [14]:
x = 5
y = "hello"

print(x)
print(y)

5
hello

variable do not to be decleared to be particular type ,they can change even after set the value.

In [15]:
x = 5  #x is a type int
x = "elango"# x is now type of string

print(x)

elango

# casting in variables

you can specific the type of variable using casting method

In [121]:
x = str(3)#x will be string '3'
y = float(4) #y will be float 4.0
z = int(4) # z will be integer 4

print(x)
print(y)
print(z)

3
4.0
4

# Type 

  
  ### using " type " word we can find type of the variable

In [17]:
x = 5
y = 6.9
z = "hello"

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

# single or double quotes 
 
 in python   you can declare string  using  single quote or double quote

In [18]:
x = 'hello'#single quote
y = "hello"# double quote

print(x)
print(y)

hello
hello

# Case - sensitive

variable names are case-sensitive

In [19]:
x = "hellow"
X = "hii" 
#this will create two variables first one is small x and second one capital X so this will create two variable

print(x)
print(X)

hellow
hii

# variables names
  ### A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.

In [23]:
Myname = "elango"
my_Name = "elango"
My1 ="elango"
_my_Name = "elango"
myname = "elango"

print(_my_Name)

elango

In [26]:
# illegal variables name 

2myname = "elango" # this is starting with numerical
my-name ="elango"  #this has invalied symbole in variable -
my name = "elango" # this has space in between the variables

print(my name)

SyntaxError: invalid syntax (<ipython-input-26-553f3d086dc9>, line 3)

# multi words variable names

variables name more than one word it can be defficult to read
there are several technique you can make them to read

# camel case 
 each word expert the first word other are in capital

In [31]:
myVARIABLES ="hiiHELLO "

print(myVARIABLES)

hiiHELLO

# PASCAL CASE 

 Each word of decleared variable can start with capital letter

In [30]:
MyVariables = " HiiHello"

print(MyVariables)

 HiiHello

# SNAKE CASE 

EACH WORD IS SEPERATED BY UNDER SCORE

In [32]:
my_variables = "hii_hello"

print("my_variables")

my_variables

# many values to multiple variables
 python allows you to assingn multiple variables in one line

In [34]:
x,y,z = "apple","mango","graphs"

print(x)
print(y)
print(z)

apple
mango
graphs

# one value to multiple variables

you can assing one value to multiple variables

In [35]:
x=y=z= "mangoes"

print(x)
print(y)
print(z)

mangoes
mangoes
mangoes

# unpacking in python

if you collection of datas in list or tuples ect.. in python unpacking allows you to extract data into variable is called unpack

In [36]:
fruits = ["mangoes","graphs","orange"]

x,y,z = fruits # this will assingn the values in the fruits into variables x,y,z

print(x)
print(y)
print(z)

mangoes
graphs
orange

# Output Variables
in python often print() is used to print the statement

In [37]:
x = 'python is awesom programming language'

print(x)

python is awesom programming language

you can print multiple variable in single print line using comma ,

In [38]:
x = 'elango'
y = 'harish'
z = 'rohit'

print(x,y,z)

elango harish rohit

you can also use + to print multiple variables in single print()

In [41]:
x = 'elango '
y = 'harish '
z = 'rohit'

print(x + y + z)

elango harish rohit

# Global Variables

creating a variable outside of the function is called global variable in python
global variable can be used both inside and outside of the programme

In [43]:
 x = "python is a programming language"
    
def myfun():
        print(x)
        
myfun()

python is a programming language

In [45]:
x = "awesome"

def myfunc():
  x = "fantastic"# it will call inside of the function
  print("Python is " + x)

myfunc()

print("Python is " + x)# it is the variable called outside decleared the variable

Python is fantastic
Python is awesome

# The global Keyword
Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keywo

In [50]:
def myfun():
    global x 
    x = "good" 
    
myfun()


print("python is " + x)

python is good

# python data types

## python in-built datatypes
  
  in programming datatypes are important concepts
  
  variable can store different types of data and different types can do different things
  
  python has inbuilt default datatypes
  
  
Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

# getting the data type

In [113]:
# str data type
x= "hello world"
print(x)
print(type(x))

hello world
<class 'str'>

In [56]:
# numeric data types int,float,complex

x = 10
y = 11.4
z = 18j
 
print(x)
print(type(x))
print(y)
print(type(y))
print(z)
print(type(z))

10
<class 'int'>
11.4
<class 'float'>
18j
<class 'complex'>

In [59]:
#sequence data type are list,tuple and range

x =['apple','mango','orange']

print(x)
print(type(x))

y = ("tea","coffee","milk")
print(y)
print(type(y))

z = range(10)
print(z)
print(type(z))

['apple', 'mango', 'orange']
<class 'list'>
('tea', 'coffee', 'milk')
<class 'tuple'>
range(0, 10)
<class 'range'>

In [60]:
#mapping data type 
x = {"name" : "elango",
     "age" : 18}

print(x)
print(type(x))

{'name': 'elango', 'age': 18}
<class 'dict'>

In [62]:
# set data types is set,frozenset

x = {"elango","harish","Sheyam"}
print(x)
print(type(x))

y = frozenset({"orange","mango","apple"})
print(y)
print(type(y))

{'elango', 'harish', 'Sheyam'}
<class 'set'>
frozenset({'apple', 'orange', 'mango'})
<class 'frozenset'>

In [64]:
# boolean data type is bool

x = True # T must be in capitel

print(x)
print(type(x))

True
<class 'bool'>

In [67]:
#binary types is bytes,bytearray,memmoryview

x =b"hello"
print(x)
print(type(x))

y= bytearray(6)
print(y)
print(type(y))

z = memoryview(bytes(6))
print(z)
print(type(z))

b'hello'
<class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00\x00')
<class 'bytearray'>
<memory at 0x0000019CFBEB8B80>
<class 'memoryview'>

In [68]:
# none datatype

x = None
print(x)
print(type(x))

None
<class 'NoneType'>

# python numbers

int

float

complex

In [69]:
#int

x=456
y=9876387389398393
z=-10000

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [70]:
#float

x = 5.99
y=8888.999999
z = -26.0000000

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [79]:
#complex

x = 5j + 6
y = -5 + 7j
z = 56j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# python strings

strings in python are surrender by sngle quotation are double quotation
"hello" is same as 'hello'

In [83]:
print("hello")
print('hello')


#assing a sting to variable


x = "hello"
y = 'hello'

print(x)
print(y)

#multiline string 

x = """ hii all are how are you everyone everyone is welcome to my home """

print(x)

hello
hello
hello
hello
 hii all are how are you everyone everyone is welcome to my home

# strings are arrays

In [86]:
# square brackets are used for access elements of the string
x = "elango sridhar"

print(x[7])

s

# loopinf through string

In [88]:
#since strings are array we can loop through the characters in a string with a for loop

for x in "elango":
  print(x)

e
l
a
n
g
o

# string length

to get the length of a string use the len() function

In [97]:
x = " hello ,elango "

print(len(x))

15

# check String

to check if a certain pharse or character is present in a string , we can use the keyword in.

In [96]:
x = " yesterday i saw a beautiful girl her eyes or so beautifull"
    
print( "girl" in x)

# using if statement
if "girl" in x:
    print("yes, 'girl' is present")

True
yes, 'girl' is present

# check if Not 


To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [95]:
x = " yesterday i saw a beautiful girl her eyes or so beautifull"
    
print( "boy " not  in x)

# using if statement
if "boy" not in x:
    print("yes, 'girl' is present")

True
yes, 'girl' is present

# slicing in string

you can return a range of characters by using the slice syntex

Specify the starty index and the end index, sepaarated by a colon, to return a part of the string

In [102]:
e = "elangosridhar"

print(e[3:7])# the first character has index zero

#slice from start 
print(e[:6])

#slice to the end
print(e[6:])

ngos
elango
sridhar

# Negative indexing
 use negative indexes to start the slices the slice from the end of the string

In [103]:
a = "Hii,Hello!Welcome"

print(a[-6:-1])

elcom

# modify String

python has a set of built-in methods that you can use on strings


# upper case 

the upper() method return the string in upper case:

In [104]:
x = "elango"
print(x.upper())

ELANGO

# lower case

the lower() method return the string in lower case

In [105]:
x = "ELANGO"

print(x.lower())

elango

# remove whitespace
 the strip() method is used remove any whitespace from the beginning or the end

In [106]:
x = " Hello, Wrold! "
print(x.strip()) # it returns "Hello,World!"

Hello, Wrold!

# replace string
the replace() method is used to replace the another string

In [107]:
x = "Ilangosridhar"

print(x.replace("I","E"))

Elangosridhar

# split string

the split() method splits the string into substrings if if finds instances of the separator

In [108]:
x = "Elango, sridhar"

print(x.split(","))

['Elango', ' sridhar']

# string Concatenation

to concatenate or combine, two strings you can use the + operator.

In [110]:
# merge variables a with variables b into variable c

a = "hello"
b = "world"
c= a + b

d = a + " " + b

print(c)
print(d)

helloworld
hello world

# string format

we cannot combine string and number like this

age = 20

 txt = "my name is elango , i am " + age
 
 print(txt) this will throws error
 

we can combine strings and nubers by using the format() method

the format() method takes the passed arguments, formats them and places them in the string where the placeholders  {} are

In [116]:
age = 20
txt = "i am elango , and i am {}"
print(txt.format(age))

# the format method takes unlimeted number of argument  and are placed into the respective placeholders

quantity = 5
itemno = 5
price = 67
myorders =" I want {} pieces of item {} for {} dollars"
print(myorders.format(quantity,itemno,price))

#with index number

quantity = 5
itemno = 5
price = 67
myorders =" I want {0} pieces of item {1} for {2} dollars"
print(myorders.format(quantity,itemno,price))

i am elango , and i am 20
 I want 5 pieces of item 5 for 67 dollars
 I want 5 pieces of item 5 for 67 dollars